<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="#"><img src="awhite.png" alt="Logo" style="width:100px;"></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="aboutus.html">Join prime</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          English
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">English</a>
          <a class="dropdown-item" href="#">Hindi</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Select Language</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div></nav>
</header>
 
 <section>
  
  <div class="container">
    <h1 class="text-center text-capitalize pt-5">Predictive Analyzer</h1>
    <hr class="w-25 mx-auto pt-5"> 


    <div class="row text-center mb-5">

      <div class="col-lg-4 col-md-4 col-12">   
        <div class="card mb-5" >
           <img class="card-img-top" src="asusnitro7.png" alt="Card image">
           <div class="card-body">
            <h4 class="card-title">Acer Nitro-7</h4>
            <p class="card-text text-justify">Acer Nitro 7 AN715-51 15.6" Full HD IPS Thin and Light Gaming Notebook(Intel Core i5-9300H processor/8GB Ram/1TB HDD + 256GB SSD/Windows 10 Home 64 bit/4GB of 1650 Graphics), Obsidian Black</p>
            <a href="https://www.amazon.in/gp/product/B08159D7JH" class="btn btn-primary">See details</a>
           </div>
        </div>
      </div> 

      <div class="col-lg-4 col-md-4 col-12">   
        <div class="card mb-5" >
           <img class="card-img-top" src="asusrog1.png" alt="Card image">
           <div class="card-body">
            <h4 class="card-title">Asus Rog Strix G</h4>
            <p class="card-text text-justify">Asus ROG Strix G Core i5 9th Gen - (8 GB/1 TB HDD/256 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA Geforce GTX 1650) G531GT-BQ024T Gaming Laptop  (15.6 inch, Black, 2.4 kg)</p>
            <a href="https://www.flipkart.com/asus-rog-strix-g-core-i5-9th-gen-8-gb-1-tb-hdd-256-gb-ssd-windows-10-home-4-graphics-nvidia-geforce-gtx-1650-g531gt-bq024t-gaming-laptop/p/itmfg9yrrazqt7dk?pid=COMFG9YREHZ9VBKH&lid=LSTCOMFG9YREHZ9VBKH8WVPW9&marketplace=FLIPKART&fm=productRecommendation%2Fsimilar&iid=R%3As%3Bp%3ACOMFMGBP4QYYXEAS%3Bl%3ALSTCOMFMGBP4QYYXEASARX3JW%3Bpt%3App%3Buid%3A944f8d9e-0c17-5eda-e895-e1e5d7f22fe0%3B.COMFG9YREHZ9VBKH&ppt=pp&ppn=pp&ssid=kkgd7wzqts0000001590241127605&otracker=pp_reco_Similar%2BProducts_14_Similar%2BProducts_COMFG9YREHZ9VBKH_productRecommendation%2Fsimilar_13&otracker1=pp_reco_NA_productRecommendation%2Fsimilar_Similar%2BProducts_DESKTOP_HORIZONTAL_productCard_cc_14_NA_view-all&cid=COMFG9YREHZ9VBKH" class="btn btn-primary">See details</a>
           </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-12">   
        <div class="card mb-5" >
           <img class="card-img-top" src="hp.png" alt="Card image">
           <div class="card-body">
            <h4 class="card-title">Hp Pavillion</h4>
            <p class="card-text text-justify">HP Pavilion Core i5 9th Gen - (8 GB/1 TB HDD/Windows 10 Home/3 GB Graphics/NVIDIA Geforce GTX 1050) 15-bc515TX Gaming Laptop  (15.6 inch, Shadow Black, 1.9 kg)</p>
            <a href="https://www.flipkart.com/hp-pavilion-core-i5-9th-gen-8-gb-1-tb-hdd-windows-10-home-3-gb-graphics-nvidia-geforce-gtx-1050-15-bc515tx-gaming-laptop/p/itmfg2bpukpuxhwu?pid=COMFG2BPFXGFHHPR&lid=LSTCOMFG2BPFXGFHHPRLQGEIP&marketplace=FLIPKART&fm=productRecommendation%2Fsimilar&iid=R%3As%3Bp%3ACOMFMGBP4QYYXEAS%3Bl%3ALSTCOMFMGBP4QYYXEASARX3JW%3Bpt%3App%3Buid%3A944f8d9e-0c17-5eda-e895-e1e5d7f22fe0%3B.COMFG2BPFXGFHHPR&ppt=pp&ppn=pp&ssid=kkgd7wzqts0000001590241127605&otracker=pp_reco_Similar%2BProducts_12_Similar%2BProducts_COMFG2BPFXGFHHPR_productRecommendation%2Fsimilar_11&otracker1=pp_reco_NA_productRecommendation%2Fsimilar_Similar%2BProducts_DESKTOP_HORIZONTAL_productCard_cc_12_NA_view-all&cid=COMFG2BPFXGFHHPR" class="btn btn-primary">See details</a>
           </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-12">   
        <div class="card mb-5" >
           <img class="card-img-top" src="asusvivo.png" alt="Card image">
           <div class="card-body">
            <h4 class="card-title">Asus Vivobook</h4>
            <p class="card-text text-justify">Asus VivoBook Gaming Core i5 9th Gen - (8 GB + 32 GB Optane/512 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA Geforce GTX 1050) F571GD-BQ368T Gaming Laptop  (15.6 inch, Star Black, 2.14 kg)</p>
            <a href="https://www.flipkart.com/asus-vivobook-gaming-core-i5-9th-gen-8-gb-32-optane-512-ssd-windows-10-home-4-graphics-nvidia-geforce-gtx-1050-f571gd-bq368t-laptop/p/itm610800f11cd09?pid=COMFNEK5Y8P3H7KR&lid=LSTCOMFNEK5Y8P3H7KR196TQM&marketplace=FLIPKART&fm=productRecommendation%2Fsimilar&iid=R%3As%3Bp%3ACOMFHNY8Z7C9DGU6%3Bl%3ALSTCOMFHNY8Z7C9DGU6JLJSNJ%3Bpt%3App%3Buid%3A5204316f-29b0-0f11-9cb2-fe7f6fffd14a%3B.COMFNEK5Y8P3H7KR.LSTCOMFNEK5Y8P3H7KR196TQM&ppt=pp&ppn=pp&ssid=n3amkecvo00000001590302657001&otracker=pp_reco_Similar%2BProducts_6_32.productCard.PMU_HORIZONTAL_Similar%2BProducts_COMFNEK5Y8P3H7KR.LSTCOMFNEK5Y8P3H7KR196TQM_productRecommendation%2Fsimilar_5&otracker1=pp_reco_PINNED_productRecommendation%2Fsimilar_Similar%2BProducts_GRID_productCard_cc_6_NA_view-all&cid=COMFNEK5Y8P3H7KR.LSTCOMFNEK5Y8P3H7KR196TQM" class="btn btn-primary">See details</a>
           </div>
        </div>
      </div> 

      <div class="col-lg-4 col-md-4 col-12">   
        <div class="card mb-5" >
           <img class="card-img-top" src="predator.png" alt="Card image">
           <div class="card-body">
            <h4 class="card-title">Acer Predator</h4>
            <p class="card-text text-justify">Acer Predator Helios 300 Core i5 8th Gen - (8 GB/1 TB HDD/128 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA Geforce GTX 1050Ti) PH315-51 55xx Gaming Laptop (15.6 inch, Obsidian Black, 2.5 kg)</p>
            <a href="https://www.flipkart.com/acer-predator-helios-300-core-i5-8th-gen-8-gb-1-tb-hdd-128-gb-ssd-windows-10-home-4-graphics-nvidia-geforce-gtx-1050ti-ph315-51-ph315-51-51v7-ph315-51-55xx-gaming-laptop/p/itm913399b8faf3d?pid=COMF5NVPQAZDMZFB&lid=LSTCOMF5NVPQAZDMZFBBVX5AO&marketplace=FLIPKART&fm=" class="btn btn-primary">See details</a>
           </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-12">   
        <div class="card mb-5" >
           <img class="card-img-top" src="lenovo.png" alt="Card image">
           <div class="card-body">
            <h4 class="card-title">Lenovo Ideapad</h4>
            <p class="card-text text-justify">Lenovo Ideapad L340 Core i7 9th Gen - (8 GB/1 TB HDD/128 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA Geforce GTX 1650) L340-15IRH Gaming Laptop  (15.6 inch, Black, 2.2 kg, With MS Office)</p>
            <a href="https://www.flipkart.com/lenovo-ideapad-l340-core-i5-9th-gen-8-gb-1-tb-hdd-windows-10-home-4-gb-graphics-nvidia-geforce-gtx-1650-l340-15irh-n18p-gaming-laptop/p/itm1a92389f24715?pid=COMFHSG9VJWFRYUH&lid=LSTCOMFHSG9VJWFRYUHQDNJQC&marketplace=FLIPKART&fm=productRecommendation%2Fsimilar&iid=R%3As%3Bp%3ACOMFNEK5Y8P3H7KR%3Bl%3ALSTCOMFNEK5Y8P3H7KR196TQM%3Bpt%3App%3Buid%3A8e2176bd-8d53-6ba5-0d60-039d1cc6356f%3B.COMFHSG9VJWFRYUH.LSTCOMFHSG9VJWFRYUHQDNJQC&ppt=pp&ppn=pp&ssid=n3amkecvo00000001590302657001&otracker=pp_reco_Similar%2BProducts_4_32.productCard.PMU_HORIZONTAL_Similar%2BProducts_COMFHSG9VJWFRYUH.LSTCOMFHSG9VJWFRYUHQDNJQC_productRecommendation%2Fsimilar_3&otracker1=pp_reco_PINNED_productRecommendation%2Fsimilar_Similar%2BProducts_GRID_productCard_cc_4_NA_view-all&cid=COMFHSG9VJWFRYUH.LSTCOMFHSG9VJWFRYUHQDNJQC" class="btn btn-primary">See details</a>
           </div>
        </div>
      </div>

    </div> 

</section>


<!--register form in short-->
<section class="bg-dark">
  <article class="py-5">
  <div class="text-center">
    <h3 class="display-4 text-white">Join Prime</h3>
    <p class="text-white">Be the part of us.</p>
    <button class="btn btn-warning" data-toggle="modal" data-target="#myModal">Join Now</button>
  </div> 
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Signup</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form action="/action_page.php">
   <div class="form-group">
     <label for="email">Email address:</label>
     <input type="email" class="form-control" placeholder="Enter email" id="email" autocomplete="off">
   </div>
   <div class="form-group">
     <label for="pwd">Password:</label>
     <input type="password" class="form-control" placeholder="Enter password" id="pwd">
   </div>
   <div class="form-group form-check">
     <label class="form-check-label">
       <input class="form-check-input" type="checkbox"> Remember me
     </label>
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
 </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  </article>
</section>

<!--contact us starts-->
   <div class="container mb-5">
    <h1 class="text-center text-capitalize pt-5">Contact Us</h1>
    <hr class="w-25 mx-auto pt-5"> 

    <div class="w-50 mx-auto">
  <form action="/action_page.php">
   <div class="form-group">
     <label for="email">Your Name:</label>
     <input type="text" class="form-control" placeholder="Enter email" id="email" autocomplete="off">
   </div>
   <div class="form-group">
     <label for="email">Mobile no:</label>
     <input type="number" class="form-control" placeholder="Enter email" id="email" autocomplete="off">
   </div>
   <div class="form-group">
     <label for="pwd"> Email:</label>
     <input type="email" class="form-control" placeholder="Enter password" id="pwd">
   </div>
   <div class="form-group">
     <label for="hobby">Your Choice:</label>
     <textarea type="text" class="form-control" placeholder="Enter choice" id="hobby"></textarea>
   </div>
   <div class="form-group form-check">
     <label class="form-check-label">
       <input class="form-check-input" type="checkbox"> Remember me
     </label>
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
 </form>
    </div>
</div>


<footer>
  <p class="text-center bg-dark text-white">@copyright Ritik Sharma Personal</p>
</footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>